@media (max-width: 1170px) {
  .wrapper {
    width: 100%;
  }
  .menu__btn {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/icon-menu-ham.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .menu__list {
    display: none;
    position: absolute;
    z-index: 8;
    top: 90%;
    left: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(51, 51, 51, 0.1);
    width: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
  }
  .header__menu {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
  }
  .menu--opened {
    .menu__btn {
      background-image: url(../img/icon-menu-cross.svg);
      background-size: 20px 20px;
    }
  }
  .menu__link {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 30px;
    font-size: 16px;
    .transition();
  }
  .menu__sublist {
    display: block;
    position: static;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
  }
  .menu__sublink {
    padding: 10px;
    padding-left: 55px;
  }
  .program__img {
    height: 290px;
  }
  .benefits__list {
    justify-content: space-around;
  }
  .benefits__img {
    height: 200px;
  }
  .benefits__item {
    width: 30.5%;
    margin-right: 0;
  }
  .footer__contacts,
  .footer__menu {
    margin-left: 0;
    margin-right: 0;
  }
  .footer__list {
    width: 300px;
  }
  .form__input,
  .form__select {
    width: 30.5%;
  }
  .news--internal {
    padding-bottom: 50px;
  }
  .table__main td:first-child,
  .table__main th:first-child {
    padding-left: 10px;
    width: auto;
  }
  .counter__block {
    width: 23%;
  }
  .tabs__list {
    justify-content: space-around;
  }
  .tabs__item {
    margin-right: 0;
  }
}

//--------------------------------------------
@media (max-width: 1022px) {
  .header address {
    margin-left: 0;
    margin-right: 0;
  }
  .program__img {
    height: 210px;
  }
  .news__item {
    display: block;
  }
  .news__info {
    width: 100%;
    padding: 0;
    padding-top: 20px;
  }
  .news__link {
    text-align: right;
  }
  .benefits__img {
    height: 150px;
  }
  .benefits__title {
    padding: 15px;
  }
  .contacts__info {
    padding: 30px;
  }
  .contacts {
    padding-bottom: 60px;
  }
  .footer__wrap {
    flex-wrap: wrap;
  }
  .footer__item {
    width: 45%;
  }
  .form__input,
  .form__select {
    width: 45%;
    margin-right: 25px;
  }
  .form__message {
    width: 95%;
  }
  .trainer__item {
    display: block;
  }
  .trainer__img {
    width: 360px;
    max-width: 100%;
  }
  .trainer__info {
    padding-left: 0;
    width: 100%;
  }
  .dance__info {
    padding: 30px;
  }
  .table__main th {
    font-size: 0;
    height: 60px;
    
    span {
      display: block;
      font-size: 18px;
    }
  }
  .counter__number {
    width: 140px;
    height: 140px;
    font-size: 70px;
  } 
  .counter__info {
    padding-left: 10px;
    padding-right: 10px;
  }
}

//-----------------------------------------
@media (max-width: 766px) {
  .header__wrap {
    flex-wrap: wrap;
  }
  .logo {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }
  .promo__title {
    font-size: 36px;
    
    span {
      font-size: 18px;
    }
  }
  .contacts__title,
  .title-2, 
  h2 {
    font-size: 30px;
  }
  .program__item {
    width: 235px;
  }
  .program__img {
    height: 270px;
  }
  .program__list {
    justify-content: center;
  }
  .about {
    background-image: none;
  }
  .about__info {
    max-width: 100%;
  }
  .news__item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .news__info {
    padding: 10px;
    padding-right: 0;
    width: ~"calc(100% - 140px)";
  }
  .benefits__item {
    width: 47%;
  }
  .contacts__wrap {
    display: block;
  }
  .contacts__info,
  .contacts__map {
    width: 100%;
  }
  .footer__bottom {
    display: block;
    text-align: center;
  }
  .footer__logo {
    order: 1;
    padding-top: 0;
  }
  .footer__menu {
    order: 3;
    margin-top: 20px;
  }
  .footer__contacts {
    order: 4;
    margin-top: 20px;
  }
  .footer__call {
    order: 2;
  }
  .form__title {
    font-size: 36px;
  }
  .form__input,
  .form__select {
    margin-right: 0;
    width: 100%;
  }
  .dance__info,
  .form__message {
    width: 100%;
  }
  .form__btn {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .form__comment {
    padding-top: 0;
    text-align: center;
  }
  .dance__item {
    display: block;
  }
  .dance__img {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }
  .counter {
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .counter__block {
    width: 250px;
    padding-top: 70px;
    margin-bottom: 20px;
  }
  .counter__number {
    top: 0;
  }
}

//----------------------------------------
@media (max-width: 480px) {
  .header__phone {
    margin-left: auto;
  }
  .news__img {
    width: 100px;
    height: 100px;
  }
  .news__info {
    flex-grow: 1;
    padding-top: 0;
    padding-bottom: 0;
  }
  .news__item {
    padding: 10px;
    min-height: auto;
  }
  .benefits__item {
    width: 100%;
  }
  .benefits__img {
    height: 190px;
  }
  .footer__logo {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__call {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__menu,
  .footer__list {
    width: 100%;
    max-width: 100%;
  }
  .form__title {
    font-size: 30px;
  }
  .form__order {
    padding: 20px;
    padding-top: 0;
    margin-bottom: 50px;
  }
  .trainer__item {
    padding: 20px;
  }
  .table__main th span,
  .table__main {
    font-size: 14px;
    line-height: 1.2;
  }
}
