.title {
  
}

h2,
.title-2 {
  margin-top: 0;
  margin-bottom: 35px;
  font-family: "Circe", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
}

.title__link {
  float: right;
  position: relative;
  top: -60px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: underline;
  
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.link {
  color: @green;
  
  &:hover,
  &:active {
    text-decoration: underline;
  }
}
